* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-950: #0d192c;
  --color-blue-900: #15263f;
  --color-blue-800: #2e405a;
  --color-blue-500: #8bacd9;
  --color-cyan-400: #00fff8;
  --color-cyan-400-rgb: 0, 255, 248;
}

body {
  background-color: var(--color-blue-950);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
}

.main-container {
  background-color: var(--color-blue-900);
  height: 596px;
  width: 350px;
  padding: 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.0953);
}
.main-img-container {
  height: 302px;
  width: 302px;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}
.main-img {
  height: 302px;
  width: 100%;
}
.title {
  font-size: 22px;
  line-height: 125%;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 16px;
  cursor: pointer;
}
.content {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: var(--color-blue-500);
  margin-bottom: 24px;
}
.price-section,
.eth-section,
.time-section {
  display: flex;
  justify-content: space-between;
}
.eth-section,
.time-section {
  height: 20px;
  gap: 8px;
  align-items: center;
}
.eth-icon {
  height: 18px;
  width: 11px;
}
.eth {
  font-size: 16px;
  color: var(--color-cyan-400);
  font-weight: 600;
}
.icon-clock {
  height: 16px;
  width: 16px;
}
.time-left {
  font-size: 16px;
  color: var(--color-blue-500);
  font-weight: 400;
}
hr {
  height: 1px;
  border: none;
  background-color: var(--color-blue-800);
}
.footer {
  height: 33px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.avatar {
  height: 33px;
  width: 33px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
}
.created-by {
  font-size: 16px;
  color: var(--color-blue-500);
  font-weight: 400;
}
.white {
  color: var(--color-white);
  cursor: pointer;
}
.white:hover,
.title:hover {
  color: var(--color-cyan-400);
}
.image-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-cyan-400-rgb), 0.503);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: grid;
  place-items: center;
}

.main-img-container:hover .image-overlay {
  opacity: 1;
}
